<div class="pt-5 text-center">
  @switch (gameService.gameState()?.state) {
    @case ('ENDED') {
      <h2>Game Ended</h2>
    }
    @case ('IN_PROGRESS') {
      @if (gameService.isPlayerTurn()) {
        <h2>Your Turn!</h2>
      } @else {
        <h2>Opponent Turn</h2>
      }
    }
    @case ('WAITING_FOR_PLAYERS') {
      <h2>Waiting for opponent</h2>
    }
  }
</div>
<div class="card position-absolute top-50 start-50 translate-middle" style="width: 380px">
  <div class="card-body d-flex flex-column">
    <h2 class="card-title mb-4" routerLink="">Tic Tac Toe</h2>
    <div style="width: 300px; height: 300px; overflow: hidden;" class="d-block mb-4 m-auto">
      @for (item of [0, 1, 2, 3, 4, 5, 6, 7, 8];track item) {
        <app-cell (click)="onCellClick(item)" position="{{item}}" style="float: left"></app-cell>
      }
    </div>
    @if (gameService.gameState()?.state !== 'ENDED') {
      <button class="btn btn-primary" (click)="gameService.surrender()">surrender</button>
    } @else {
      <p>{{ gameService.playerResult() ? gameService.playerResult() : 'Draw' }}</p>
      <button class="btn btn-primary" routerLink="" (click)="gameService.clearGameState()">leave</button>
    }
  </div>
</div>

